<h1 id="counter"></h1>
<img id="image" height="200px" width="200px">
<button onclick="savePlayData()" id="btn">Click!</button>
<br><br>
<table id="plays">
  <thead>
    <th>Image URL</th>
    <th>Counter</th>
  </thead>
  <tbody>
    <% if @plays.present? %>
      <% @plays.each do |play| %>
        <tr>
          <td><%= play.image_url %></td>
          <td><%= play.counter %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= render partial: 'image_counter_script' %>
