<h1 id="counter"></h1>
<img id="image" height="200px" width="200px">
<button onclick="save_play_data()" id="btn">Save</button>
<br><br>
<table>
  <thead>
    <th>Image URL</th>
    <th>Counter</th>
  </thead>
  <tbody>
    <% if @plays.present? %>
      <% @plays.each do |play| %>
        <tr>
          <td><%= play.image_url %></td>
          <td><%= play.counter %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% @image_urls = cookies[:image_urls].class == String ? cookies[:image_urls].split("&") : cookies[:image_urls] %>

<script type="text/javascript">
  var time = 10;
  var cnt = 0;
  var countDown = setInterval(playGame, 1000);

  function playGame(){
    countDownTimer();
  }

  function countDownTimer(){
    var image_urls = "<%= @image_urls %>";
    var image_urls_cnt = parseInt("<%= @image_urls.length %>");
    image_urls = JSON.parse(image_urls.replace(/&quot;/g,'"'));
    document.getElementById('counter').innerHTML = time;
    document.getElementById('image').src = "../"+ image_urls[cnt];
    cnt = (cnt + 1) == image_urls_cnt ? 0 : (cnt + 1);
    time = time <= 1 ? 10 : (time - 1);
  }

  function save_play_data(){
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {};
      xhr.open('POST', '/plays/create', true);
      image_url = document.getElementById('image').src
      counter = document.getElementById('counter').innerHTML;
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.send("image_url="+image_url+"&counter="+counter);
    }
</script>
